* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.wrapper {
  background-image: url(./pattern3.jpg);
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.form-box {
  width: 470px;
  height: 570px;
  background-color: rgb(236, 243, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 5px 5px 7px rgba(139, 172, 172, 0.8),  -5px -5px 7px rgba(139, 172, 172, 0.8);
  border: 6px solid rgb(233, 239, 242);
  transition: all .3s ease-in-out;
}
a{text-decoration: none; color: gray;}
.logo-title p{
    font-weight:bolder; 
    margin-bottom: 50px;
    color: rgb(5, 177, 179);
    letter-spacing: 2px;
    font-size: 1.8em;
}
.logo-title p span {
  display: block;
}
input {
  width: 100%;
  padding: 20px 50px;
  background-color:transparent;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border: 0;
  margin-bottom: 15px;
  box-shadow: inset 4px 5px 6px rgba(70, 71, 71, 0.5), inset -9px -7px 9px rgba(208, 218, 218, 0.6);
}
input[type="submit"]{
  background-color: rgb(5, 177, 179);
  box-shadow: 2px 3px 4px rgba(5, 177, 179, 0.5), -2px -3px 4px rgba(5, 177, 179, 0.5);
    color:#fff;
    font: bold 20px serif;
    cursor: pointer;
    margin-top:10px;
    border-radius:29px;
    -webkit-border-radius:29px;
    -moz-border-radius:29px;
    -ms-border-radius:29px;
    -o-border-radius:29px;
}
.login-form{
    width: 75%;
}
input::placeholder{color: gray; font-weight: bold;}

.email {
    position: relative;
}

.email i {
    position: absolute;
    left: 6%;
    top: 26%;
    color:rgb(5, 177, 179);
    font-size: 1.1em;
}
.password {
    position: relative;
}

.password i {
    position: absolute;
    left: 6%;
    top: 26%;
    color:rgb(5, 177, 179);
    font-size: 1.1em;
}
.form-box:hover {
  border:6px solid rgb(233, 239, 242);
  box-shadow: 6px 6px 5px rgb(0 0 0 / 30%), -6px -6px 5px rgb(0 0 0 / 30%);
  cursor: pointer;
}
